/* .events {
    
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
} */

#blur {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 830px) {
  #EventRegister {
    font-size: 12px;
  }
}
