.SponsorBack {
  background: url("./Assets/Footer/Footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.TrailerBack {
  background-color: bisque;
}

.AboutBack {
  background: url("./Assets/About/About.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.HomeBack {
  background: url("./Assets/Home/HomeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.japanFont {
  font-family: "japan";
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

#NavBlur {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
