.SponsorBack {
  background: url("./Assets/Footer/Footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.TrailerBack {
  background-color: bisque;
  /* background: url("./Assets/Events/Event.png"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: -100px; */
}

.AboutBack {
  background: url("./Assets/About/About.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.HomeBack {
  background: url("./Assets/Home/HomeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.japanFont {
  font-family: "japan";
  letter-spacing: 0.1em;
  line-height: 1.3em;
}
