.video-responsive {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  z-index: 0;
}

.video-responsive iframe {
  left: 12%;
  height: 76%;
  width: 76%;
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .video-responsive iframe {
    left: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }
}
